$color-primary: #1D73B2;
$color-primary-light: #1D73B2;
$color-primary-dark: #004481;
$color-secondary: #f71c2e;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #bebebe;
$color-grey-dark: #696868;
@import url("../@mdi/font/css/materialdesignicons.min.css");
@import url("../@mdi/font/css/materialdesignicons.min.css");
@import url('../ag-grid-community/dist/styles/ag-grid.css');
@import url('./ag-grid-themes/ag-theme-balham/sass/ag-theme-balham.css');


html {
  min-height: 100%;
  background: none;
}

/* clase css principal */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  color: $color-white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
select{
  font-size: 1em;
}
input{
  font-size: 1em;
}
button{
  font-size: 1em;
}
.navegacion{
  width:1000px;
  margin: 30px auto;
}
canvas {
  background: #f1f1f1;
}
#header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-color: $color-primary;
}
#menu {
  flex-basis: 100%;
}

#menu ul li {
  margin-top: 0;
}

#menu nav>ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 1%;
  background-color: $color-white;
}

#menu nav>ul>ul {
  list-style: none;
}

#menu nav li {
  position: relative;
}

#menu nav a {
  color: $color-white;
  text-decoration: none;
  flex-wrap: wrap;
}


#titulo {
  float: left;
}

.icon {
  font-size: 1.5em;
  color: $color-white;
  
}
.center{
  align-self: center;
}

.flex_derecha {
  float: right;
  align-self: flex-start;
}

#nombreMenu {
  color: $color-black !important;
  background-color: $color-white !important;
}

.container {
  color: $color-primary;
  margin-top: 1%;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.white_container {
  background-color: $color-white;
  color: $color-black;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.container-element {
  width: 200px;
}

.margin_top {
  margin-top: 1%;
}

.margin_bottom {
  margin-bottom: 1%;
}

.alert {
  color: $color-secondary;
}

h1>a,h4>a {
  text-decoration: none;
  color: $color-white;

}

#myGrid {
  width: 100%;
  height: 500px;
}
.flex_menu {
  overflow: hidden;

}
.flex_derecha_arriba{
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: right;
  width:60%;
  select , span{
    margin: 1%;
  }
}

.flex_menu a {
  float: left;
  color: $color-white;
  text-decoration: none;
  padding: 1% 1%;
  font-size: 1em;
  background-color: $color-primary-dark;
  width: 31.33%;

}
#exit{
  align-self: flex-end;
}
@media only screen and (max-width: 1360px) {
  .flex_menu a {
    float: left;
    color: $color-white;
    padding: 1% 1%;
    font-size: 1em;
    background-color: $color-primary-dark;
    margin-right: 1%;
    width: 100%;
  
  }
  .flex_derecha_arriba{
    width: 100%;
    a{
      margin-right: 1%;
    }
  }
}

.flex_menu a:hover {
  text-decoration: underline;
}
.flex_menu h3 {
  background-color: $color-primary;
  color: $color-black;
}
// Añado botón a través de a
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
  text-decoration: none;
  color: $color-primary-dark;
  font-size: 1em;
  width: 300px;
  text-align: center;
}
