@import url("../@mdi/font/css/materialdesignicons.min.css");
$color-primary: #3a6073;
$color-primary-dark: #16222a;
$color-secondary: #f71c2e;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #bebebe;
$color-grey-dark: #696868;

html {
  min-height: 100%;
  background: #16222a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      $color-primary-dark,
      $color-primary);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $color-primary-dark, $color-primary);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* clase css principal */
body {
  font-family: "Serif", serif, sans-serif;
  font-size: 1em;
  color: $color-white;
}

nav {
  padding: 1%;
}


#header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-color: $color-primary;
}

#menu {
  flex-basis: 100%;
}

#menu ul li {
  margin-top: 0;
}

#menu nav>ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 1%;
  background-color: $color-white;
}

#menu nav>ul>ul {
  list-style: none;
}

#menu nav li {
  position: relative;
}

#menu nav a {
  color: $color-white;
  text-decoration: none;
  flex-wrap: wrap;
}

#titulo {
  float: left;
}

#exit {
  font-size: 2em;
  color: $color-secondary;
}

#exit:hover {
  color: $color-white;
}

.flex_derecha {
  float: right;
  align-self: flex-start;
}

#nombreMenu {
  color: $color-black !important;
  background-color: $color-white !important;
}

.container {
  background-color: $color-primary;
  color: $color-white;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-element {
  width: 300px;
}

.margin_top {
  margin-top: 1%;
}

.margin_bottom {
  margin-bottom: 1%;
}

.alert {
  color: $color-secondary;
}