@import url("../@mdi/font/css/materialdesignicons.min.css");
@import url("../@mdi/font/css/materialdesignicons.min.css");
@import url("../ag-grid-community/dist/styles/ag-grid.css");
@import url("./ag-grid-themes/ag-theme-balham/sass/ag-theme-balham.css");
html {
  min-height: 100%;
  background: none; }

/* clase css principal */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

select {
  font-size: 1em; }

input {
  font-size: 1em; }

.button {
  background-color: #004481;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  font-size: 1em;
  width: 300px;
  padding: 0.5%;
  text-decoration: none;
  cursor: pointer; }

.button:hover {
  color: #ffffff;
  text-decoration: underline; }

.navegacion {
  width: 1000px;
  margin: 30px auto; }

canvas {
  background: #f1f1f1; }

#header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-color: #1D73B2; }

#menu {
  flex-basis: 100%; }

#menu ul li {
  margin-top: 0; }

#menu nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 1%;
  background-color: #ffffff; }

#menu nav > ul > ul {
  list-style: none; }

#menu nav li {
  position: relative; }

#menu nav a {
  color: #ffffff;
  text-decoration: none;
  flex-wrap: wrap; }

#titulo {
  float: left; }

.icon {
  font-size: 1.5em;
  color: #ffffff; }

.mdi-exit-run {
  cursor: pointer; }

.center {
  align-self: center; }

.flex_derecha {
  float: right;
  align-self: flex-start; }

#nombreMenu {
  color: #000000 !important;
  background-color: #ffffff !important; }

.container {
  color: #1D73B2;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.white_container {
  background-color: #ffffff;
  color: #000000;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%; }

.container-element {
  width: 300px; }

.margin_top {
  margin-top: 1%; }

.margin_bottom {
  margin-bottom: 1%; }

.alert {
  color: #f71c2e; }

h1 > a, h4 > a {
  text-decoration: none;
  color: #ffffff; }

#myGrid {
  width: 100%;
  height: 500px; }

.flex_menu {
  overflow: hidden; }

.flex_derecha_arriba {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: right;
  width: 60%; }
  .flex_derecha_arriba select, .flex_derecha_arriba span {
    margin: 1%; }

.flex_menu a {
  float: left;
  color: #ffffff;
  text-decoration: none;
  padding: 1% 1%;
  font-size: 1em;
  background-color: #004481;
  width: 31.33%; }

#exit {
  align-self: flex-end; }

@media only screen and (max-width: 1000px) {
  body {
    font-size: 2em; }
  .flex_menu a {
    float: left;
    color: #ffffff;
    padding: 1% 1%;
    font-size: 1em;
    background-color: #004481;
    margin-right: 1%;
    width: 100%; }
  .flex_derecha_arriba {
    width: 100%; }
    .flex_derecha_arriba a {
      margin-right: 1%; } }

.flex_menu a:hover {
  text-decoration: underline; }

.flex_menu h3 {
  background-color: #1D73B2;
  color: #000000; }
