@import url("../@mdi/font/css/materialdesignicons.min.css");
@import url("../@mdi/font/css/materialdesignicons.min.css");
@import url("../ag-grid-community/dist/styles/ag-grid.css");
@import url("./ag-grid-themes/styles/ag-theme-balham-dark/sass/ag-theme-balham-dark.css");
html {
  min-height: 100%;
  background: #16222a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #16222a, #3a6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #16222a, #3a6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/* clase css principal */
body {
  font-family: "Serif", serif, sans-serif;
  font-size: 1em;
  color: #ffffff; }

nav {
  padding: 1%; }

#header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-color: #3a6073; }

#menu {
  flex-basis: 100%; }

#menu ul li {
  margin-top: 0; }

#menu nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 1%;
  background-color: #ffffff; }

#menu nav > ul > ul {
  list-style: none; }

#menu nav li {
  position: relative; }

#menu nav a {
  color: #ffffff;
  text-decoration: none;
  flex-wrap: wrap; }

#titulo {
  float: left; }

#exit {
  font-size: 2em;
  color: #f71c2e; }

#exit:hover {
  color: #ffffff; }

.flex_derecha {
  float: right;
  align-self: flex-start; }

#nombreMenu {
  color: #000000 !important;
  background-color: #ffffff !important; }

.container {
  background-color: #3a6073;
  color: #ffffff;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.white_container {
  background-color: #ffffff;
  color: #000000;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%; }

.container-element {
  width: 300px; }

.margin_top {
  margin-top: 1%; }

.margin_bottom {
  margin-bottom: 1%; }

.alert {
  color: #f71c2e; }

h1 > a, h4 > a {
  text-decoration: none;
  color: #ffffff; }

#myGrid {
  width: 100%;
  height: 500px; }

.flex_menu {
  overflow: hidden;
  background-color: #69a2be; }

.flex_derecha_arriba {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1%; }
  .flex_derecha_arriba select, .flex_derecha_arriba span {
    margin: 1%; }

.flex_menu a {
  float: left;
  color: #000000;
  text-decoration: none;
  padding: 1% 1%;
  font-size: 1em;
  background-color: #69a2be;
  margin-right: 1%;
  width: 30%; }

#exit {
  align-self: flex-end; }

@media only screen and (max-width: 850px) {
  .flex_menu a {
    float: left;
    color: #000000;
    padding: 1% 1%;
    font-size: 1em;
    background-color: #69a2be;
    margin-right: 1%;
    width: 100%; }
  .flex_derecha_arriba {
    width: 100%; }
    .flex_derecha_arriba select, .flex_derecha_arriba span {
      width: 100%; }
    .flex_derecha_arriba a {
      margin-right: 1%; } }

.flex_menu a:hover {
  background-color: #16222a;
  text-decoration: underline;
  color: #ffffff; }

.flex_menu h3 {
  background-color: #3a6073;
  color: #000000; }

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
  text-decoration: none;
  color: #16222a;
  font-size: 1em;
  width: 300px;
  text-align: center; }
