{% extends 'base.html.twig' %}
{% block title %}Análisis comercial urbano-Basic Data
{% endblock %}
{% block containers %}
	<div class="container">
		Tabla 1
	</div>
	<script>

		import {Grid} from {{ asset('ag-grid-community/all-modules') }};

var columnDefs = [
{
headerName: "Make",
field: "make"
}, {
headerName: "Model",
field: "model"
}, {
headerName: "Price",
field: "price"
}
];

// specify the data
var rowData = [
{
make: "Toyota",
model: "Celica",
price: 35000
}, {
make: "Ford",
model: "Mondeo",
price: 32000
}, {
make: "Porsche",
model: "Boxter",
price: 72000
}
];

// let the grid know which columns and what data to use
var gridOptions = {
columnDefs: columnDefs,
rowData: rowData
};

var eGridDiv = document.querySelector('#myGrid');

new Grid(eGridDiv, gridOptions);
	</script>
{% endblock %}
