{% extends 'base.html.twig' %}
{% block title %}Análisis comercial urbano-Data
{% endblock %}
{% block afterMenu %}
{# Elimino los primeros carácteres para comprobar que sea una tabla que muestra todos los datos#}



<h4>
	<a href="javascript: history.go(-1)">
		<span class="mdi mdi-arrow-left">Atrás</span>
	</a>
</h4>
	
{% endblock %}
{% block containers %}

{% endblock %}