<title>
	{% block title %}Análisis Comercial Urbano-Login
	{% endblock %}
</title>
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}
{% block header %}{% endblock %}
{% block menu %}{% endblock %}
{% block body %}
	<div class="container">

		<form method="post">
			{% if error %}
				<div class="alert alert-danger">Error con email o contraseña</div>
			{% endif %}
			<div class="content">
				<div id="titulo">
					<h1>
						<span class="mdi mdi-finance">Análisis comercial urbano - Login</span>
					</h1>
				</div>
				<label for="inputEmail" class="sr-only">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</div>
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" id="remember_me" name="_remember_me" checked>
					Recordarme
				</label>
			</div>

			<button class="btn btn-lg btn-primary" type="submit">
				Loguearse
			</button>
			<a href="{{ path('app_register') }}">
				<button class="btn btn-lg btn-primary" type="button">Registrarse</button>
			</a>
		</form>


	</div>
{% endblock %}
