{% extends 'base.html.twig' %}
{% block title %}Análisis comercial urbano-Data
{% endblock %}
{% block afterMenu %}
<h4>
	<a href="javascript: history.go(-1)">
		<span class="mdi mdi-arrow-left">Atrás</span>
	</a>
</h4>
	
{% endblock %}
{% block containers %}

{% for cont, chart in charts %}
    <div class="container">
        <div class="white_container">
            <canvas id="chart{{ cont }}"></canvas>
        </div> 
    </div>
    <script type="text/javascript" charset="utf-8">
    var ctx = document.getElementById('chart{{ cont }}').getContext('2d');
    var chart = new Chart(ctx, JSON.parse("{{ charts[cont][cont]|escape('js') }}"));
    </script>
{% endfor %}
{% endblock %}